%form{:name => "project", :action => "/#{project.name}", :method => "post"}
  %label{:for => "project[urls][0]"}
    Relevant URLs:
    %a{:href => "#", :class => "add-box-link"} (Add another)
  - if project.urls.nil? or project.urls.empty?
    %input{:type => "textbox", :name => "project[urls][0]"}
  - else
    - project.urls.each_with_index do |url, idx|
      %input{:type => "textbox", :name => "project[urls][#{idx}]", :value => "#{h(project.urls[idx])}"}
  %br
  %label{:for => "project[screenshot]"} Online Screenshot:
  %input{:type => "text", :name => "project[screenshot]", :value => "#{h(project.screenshot)}"}
  %br
  %label{:for => "project[description]"} Description:
  %textarea{:name => "project[description]", :cols => "60", :rows => "5"}
    :preserve
      #{h(project.description)}
  %br
  %label{:for => "project[doIt]"} Install Do-it:
  %textarea{:name => "project[doIt]", :cols => "60", :rows => "5"}
    :preserve
      #{project.doIt}
  %br
  %label{:for => "project[systems][0]"}
    Compatible Smalltalk Systems
    %a{:href => "#", :class => "add-box-link"} (Add another)
  - if project.systems.nil? or project.systems.empty?
    %input{:type => "textbox", :name => "project[systems][0]"}
  - else
    - project.systems.each_with_index do |url, idx|
      %input{:type => "textbox", :name => "project[systems][#{idx}]", :value => "#{h(project.systems[idx])}"}
  %br
  %label{:for => "project[license]"} License:
  %input{:type => "textbox", :name => "project[license]", :value => "#{h(project.license)}"}
  %br
  %input{:type => "submit", :value => "Save"}
